NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_API_KEY=
DATABASE_URL=
NEXT_PUBLIC_GTM_ID=
AUTH_SECRET=
OPENAI_API_KEY=

WABA_TOKEN=
WABA_PHONE_ID=
WA_SUPPORT=
EMAIL_SUPPORT=

QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=

SUPABASE_URL=
SUPABASE_SERVICE_KEY=

SIMULATE_SECRET=